<title> 查询成绩库 </title>


<input id="input1" type="date">





<table>
        <caption>答案信息查询</caption>
        <tbody id="table1"></tbody>
</table>
        

   
      
      <!--
      <script>
      var xml = XMLHttpRequest();
      xml.open("POST", "http://113.54.196.156:8080/query", true);
      </script>
      
      
      <SCRIPT LANGUAGE="JavaScript">  
              //   
              var objdbConn = new ActiveXObject("ADODB.Connection");    
              var strdsn = "Driver={mysql ODBC 5.2w Driver};SERVER=localhost;UID=root;PWD=123456;DATABASE=login";      // 需要修改自己的服务器地址,用户名,密码  
              //var connectionstring = "Driver={MySQL ODBC 5.2w Driver};Server=localhost;Database=myDataBase;User=myUsername; Password=myPassword;Option=3;Port=3306";  
              objdbConn.Open(strdsn);       
              var objrs = objdbConn.Execute("SELECT * FROM login.users");                  // 输入本地的表  
              var fdCount = objrs.Fields.Count - 1;           
              if (!objrs.EOF){                                 
                document.write("<table border=1><tr>");     
                for (var i=0; i <= fdCount; i++)                  
                    document.write("<td><b>" + objrs.Fields(i).Name + "</b></td>");  
                document.write("</tr>");  
                
                while (!objrs.EOF){                     
                  document.write("<tr>");               
                  for (i=0; i <= fdCount; i++)  
                     document.write("<td valign='top'>" + objrs.Fields(i).Value + "</td>");  
                  document.write("</tr>");  
                  objrs.moveNext();                   
                }  
                document.write("</table>");   
              }  
              else   
                document.write("数据库内没有记录!<br>");  
              objrs.Close();                           
              objdbConn.Close();                     
              //  
      </SCRIPT>  
      -->
      
      
      <SCRIPT> 
      //var id1 = data.grant[0].tm_id;
      
      //var name1 = data.grant[0].tm_name;
      
      //var id2 = data.grant[1].tm_id;
      //var name2 = data.grant[1].tm_name;
      
      //for(var i=0;i<data.grant.length;i++){
            //alert(data.grant[i].tm_id+"---"+data.grant[i].tm_name);
      //}
      
      
      
      
      
      /*
      var userName;      
      var passWord;      
      var xmlHttpRequest;      
        */    
            
      //XmlHttpRequest对象      
      function createXmlHttpRequest(){      
          if(window.ActiveXObject){ //如果是IE浏览器      
              return new ActiveXObject("Microsoft.XMLHTTP");      
          }else if(window.XMLHttpRequest){ //非IE浏览器      
              return new XMLHttpRequest();      
          }      
      }      




      function queryuser(a){      
        //userName = document.f1.username.value;      
        //passWord = document.f1.password.value;        
              
        //var url = "LoginServlet?username="+userName+"&password="+passWord+"";         
        var url = "http://localhost:8080/queryresults";          
        // 1.创建XMLHttpRequest组建      
        xmlHttpRequest = createXmlHttpRequest();      
              
        // 2.注册回调函数，函数名后面不需要加括号      
        xmlHttpRequest.onreadystatechange = statechanged;      
              
        // 3.初始化XMLHttpRequest组建      
        xmlHttpRequest.open("POST",url,true);
        //xmlHttpRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;");      
              
        //4.发送请求      
        xmlHttpRequest.send(a);        
      }         
            
            
      // 回调函数      
      function statechanged(){
        var req = xmlHttpRequest;
        if(req.readyState == 4 ){
          if(req.status == 200){
            var json_str = xmlHttpRequest.responseText; // json形式的字符串
            var answers = eval('(' + json_str + ')'); // 转化为json格式
            // var user = JSON.parse(json_str); // 转化为json格式的另一种方式，较安全
      
            var TableDate="<th>日期</th><th>用户</th><th>选择题</th><th>填空题</th><th>判断题</th>"
            for  (var i=0;i<answers.length;i++){
              TableDate+="<tr>"
              TableDate+="<td>"+answers[i].date+"</td>"
              TableDate+="<td>"+answers[i].username+"</td>"
              TableDate+="<td>"+answers[i].choice+"</td>"
              TableDate+="<td>"+answers[i].fill+"</td>"
              TableDate+="<td>"+answers[i].trueorfalse+"</td>"
              TableDate+="<td>"+answers[i].subject+"</td>"
              TableDate+="</tr>"
            } 
      
            document.getElementById('table1').innerHTML=TableDate
          }
          else if(req.status == 404)
          {
            alert("request url is not found");
          }
          else if(req.status == 401 || req.status == 403)
          {
            alert("request url is forbidden or not authorized to visit.");
          }
          else
          {
            alert("unexpected error!Status Code :"+req.status);
          }
        }                    
      }
      
           var date=document.getElementById("input1");
            input1.oninput = function(){  
                 var a = date.value;
                 alert(a);  
                 queryuser(a);
              }  
      

//function main(){
   //   var Date = document.getElementById ("input1").value;
    //  if(Date=="" && Date == undefined){
     //         alert("请输入日期");
     //         return false;
     //  }
      
    //  alert(Date.value);
//}






</SCRIPT> 
      
      
      
      
      
      
      
      