
<head>
    <title>已完成任务</title>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" charset="utf-8">


</head>




<body>
    <!-- 头部 -->
    <header>
        <a href="../../index.html"> <img style="grid-column: 1/2;height: 40px;" src="../view/images/logo.png" ></img> </a>
 
        <a href="querydatas.html">学生成绩管理</a>
        <a href="dothetest.html">已完成测试</a>

        <a href="queryusers.html">学生信息管理</a>
 
            
        <img style="grid-column: 12/13;height: 40px;" src="images/11019.jpg"></img>
      </header>
  
      <!-- 主体 -->
      <main>
  
        <!-- 分隔栏 -->
        <div class="bar-split"> 我的任务 </div>


<div id=buttons style="grid-column: 5/8;grid-row: 3/6;background-color:rgba(0, 0, 0, 0.164);">  </div>

<div id=questions style="grid-column: 5/8;grid-row: 7/17">  </div>

<button id= "button1" style="grid-column: 5/6;grid-row: 19/20" class="button-rect"> 上一题 </button>
<button id= "button2" style="grid-column: 7/8;grid-row: 19/20" class="button-rect"> 下一题 </button>

</main>

</body>

<script src="../../static/js/main.js"></script>
<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="done.js"></script>


