<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>我要完成的任务</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="../../static/css/style.css" charset="utf-8">


</head>

<body>

<!-- 头部 -->
<header>
    <a href="../../index.html"> <img style="grid-column: 1/2;height: 40px;" src="../static/images/logo.png" ></img> </a>
    <a href="mypapers.html">我的试卷</a>
    <a href="mytask.html">我的任务</a>
  
        
    <img style="grid-column: 12/13;height: 40px;" src="images/11019.jpg"></img>
</header>


<!-- 主体 -->
<main>

    <!-- 分隔栏 -->
    <div class="bar-split"> 我要完成的任务 </div>

    <table style="grid-column: 2/12;grid-row: 3/23;width: auto;">
        <caption><p>任务信息查询</p></caption>
        <tbody id="table1"></tbody>
    </table>

    

</main>

</body>

<script src="../../static/js/main.js"></script>
<script src="../../static/js/todo.js"></script>