
<!DOCTYPE html>

<html>


<head>

    <meta charset="utf-8">
    <title>登陆</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" charset="utf-8">

</head>



<body>

    <form style="margin-top: 200px;height: 200px;" action="http://localhost:8080/login" method="post">

        <div>
          <label for="name">用户名:</label> 
          <input type="text" id="name" name="username">
        </div>

        <div>
          <label for="mail">密码:</label> 
          <input type="password" id="mail" name="password">
        </div>

        <!-- <div>

          <label for="msg">Message:</label> <textarea id="msg" name="user_message"></textarea>

        </div> -->

        <div class="button">
          <button type="submit">登陆</button>
        </div>
    
        <p>没有账户? <a href="register.html">注册</a> </p>
        <p>修改密码 </p>
    </form>
    
</body>



</html>












