<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" charset="utf-8">
</head>

<body>
    
    <form style="margin-top: 200px;height: 200px;">
        
        <div>
            <label for="name">用户名:</label> 
            <input type="text" id="name" name="username">
        </div>

        <div>
            <label for="mail">密码:</label> 
            <input type="password" id="mail" name="password">
        </div>

        <div>
            <label for="confirm-mail">确认密码:</label>
            <input type="password" id="confirm-mail" name="confirm_password">
        </div>

        <div class="chan">
            <button type="submit" class="button-rect" onclick="register();">注册</button>
        </div>

    </form>

</body>
</html>


<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="registe.js"></script>
