
<!DOCTYPE html>

<html>


<head>

    <meta charset="utf-8">
    <title>重置密码</title>


</head>




<body>

    <form action="http://localhost:8080/reset" method="post">

        <div>

          <label for="name">用户名:</label> <input type="text" id="name" name="username">

        </div>

        <div>

          <label for="mail">新密码:</label> <input type="password" id="mail" name="password">

        </div>

        <div>

            <label for="mail">确认新密码:</label> <input type="password" id="mail" name="password">
  
        </div>
        <!-- <div>

          <label for="msg">Message:</label> <textarea id="msg" name="user_message"></textarea>

        </div> -->

        <div class="button">

          <button type="submit">重置密码</button>

        </div>
    

    </form>
    
</body>



</html>